<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.networkingassignment.post">

    <application>
        <activity android:name=".presentation.PostActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>